---
---

@import "{{ site.theme }}";

header {
	.inner {
		position: relative;
	}

	.nav-links {
		position: absolute;
		top: 50%; // Position at 50% from the top
		right: 10px;
		transform: translateY(-50%); // Move up by half of its own height
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.nav-links a {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		margin-bottom: 5px;
	}

	.nav-links a:hover {
		text-decoration: underline;
	}
}
